@font-face {
    font-family: fuentepiola;
    src: url(./Fuente/Fredoka-VariableFont_wdth\,wght.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
@font-face {
    font-family: hurricane;
    src: url(./Fuente/Hurricane/Hurricane-Regular.ttf);
}


body {
    font-family: fuentepiola;
    margin: 0px;
}

header {
   
    font-family: fuentepiola;
    background-repeat: no-repeat;
    background-size: 100%;
    background: rgb(2,0,36);
background: linear-gradient(99deg, rgba(2,0,36,1) 0%, rgba(117,117,198,1) 1%, rgba(0,212,255,1) 100%);
}
input{
    display:none
}

nav{ 
    background-image: url(https://www.teahub.io/photos/full/86-869886_hd-wood.jpg);
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    padding-bottom: 1%;
    border-bottom-left-radius:100px;
    border-bottom-right-radius: 100px;
    height: 7vh;
    
}


.ul1 {
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
    margin-left: 5vh;
   
    
}

li{
    display: flex;
    flex-direction: row;
   align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    flex-wrap: wrap;
    border-top: solid 2px rgba(0,0,0,0.4);
    border-left:solid 2px rgba(0,0,0,0.4);
    box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.7);
        -webkit-box-shadow: 9px 10px 5px 1px rgba(0,0,0,0.7);
        -moz-box-shadow: 9px 10px 5px 1px rgba(0,0,0,0.7);
    border-radius: 5px;
    background-color: #fbfbfb;
    transition: background 1s, font-size 0.5s;
    
    
    
    

}

li:first-child:hover{
    
    
    background-color: cyan;
    font-size: 2rem;
}
li:nth-child(2):hover{
    font-size: 2rem;
    background-color: cyan;
}
li:nth-child(3):hover{
    font-size: 2rem;
    background-color: cyan;
}
li:last-child:hover{
    font-size: 2rem;
    background-color: cyan;
}

}

.logo{
    display: flex;
    width: 3%;
    
    
    
    

}
a:link{
    text-decoration: none;
    
}
a {
    color:rgb(0, 0, 0);
    
    width: 100%;
    
    
}
ul a {
    font-family: 'fuentepiola' , cursive;
    
    
}

.titulo{
    display: flex;
    height: 2rem;
    width: 25%;
    flex-direction: column;
    margin-top: 13%;
    margin-left: 7%;
    font-size:1.5rem;
    
   
    
}

h1 {
    color: rgb(20, 78, 255);
    border-left: 5px solid blue;
    padding-left: 3%;
    
}
.tituloylogo {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 5px solid blue;
    flex-wrap: wrap;
    
}

.logo2 {
    margin-top: 12rem;
    display:flex ;
    width: 50%;
    height: 50vh;
    border-radius: 15px;
    flex-wrap: wrap;
}


.buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2rem;
    justify-content: space-between;
    margin-top: 5%;
    font-size: 1rem;
}
.button1 {
    width: 40%;
    height: 4rem;
    border-radius: 40px;
    border: 5px solid black;
    background-color: black ;
    color: white;
    font-size: 1rem;
    font-family: fuentepiola;
    font-weight: 600;
}
.button2 {
    width: 40%;
    height: 4rem;
    border-radius: 40px;
    font-size: 1rem; 
    font-family: fuentepiola;
    font-weight: 600;
    border: 5px solid black;
    background-color: white;
}
 h2 {
    font-size: 3rem;
    color : black ;
    font-family: hurricane;
    font-weight: 400;
    
        
    } 
p { 
    font-size: 1.2rem;
    color: black;
    font-weight: 600;
}


.articulo1 {
    display: flex;
    flex-direction: column;
    background-image: url(./img/wp8559505.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.tituloArticulo {
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    margin-bottom: 10vh;
    margin-top: 10vh;
    margin-left: 30vh;
    margin-right: 30vh;
    text-align: center;
    background-color: #fbfbfb;
    border-radius: 20px;
    box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.7);
        -webkit-box-shadow: 9px 10px 5px 1px rgba(0,0,0,0.7);
        -moz-box-shadow: 9px 10px 5px 1px rgba(0,0,0,0.7);
        
    
}
.elementosarticulo {
    
    display: flex;
    flex-direction: column;
}
.imagenesArticulo{
    

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    
    
}
.textoArticulo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10vh;
    
    
}

.textoArticulo1 {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 20vh;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 1vh;
    background-color: #fbfbfb;
    border-radius: 20px;
    padding-left: 0.5%;
    box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.7);
    -webkit-box-shadow: 9px 10px 5px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 9px 10px 5px 1px rgba(0,0,0,0.7);
    
    
}
.textoArticulo2 {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 20vh;
    margin-top: 2vh;
    justify-content: center;
    align-items: center;
    background-color: #fbfbfb;
    border-radius: 20px;
    box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.7);
        -webkit-box-shadow: 9px 10px 5px 1px rgba(0,0,0,0.7);
        -moz-box-shadow: 9px 10px 5px 1px rgba(0,0,0,0.7);
}
.textoArticulo3 {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 20vh;
    justify-content: center;
    align-items: center;
    background-color: #fbfbfb;
    border-radius: 20px;
    margin-top: 2vh;
    box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.7);
        -webkit-box-shadow: 9px 10px 5px 1px rgba(0,0,0,0.7);
        -moz-box-shadow: 9px 10px 5px 1px rgba(0,0,0,0.7);
}
.textoArticulo4 {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 20vh;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    
    background-color: #fbfbfb;
    border-radius: 20px;
    padding-left: 1vh;
    box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.7);
        -webkit-box-shadow: 9px 10px 5px 1px rgba(0,0,0,0.7);
        -moz-box-shadow: 9px 10px 5px 1px rgba(0,0,0,0.7);
}
h3 {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    
    
    
}
h4 {
    font-size: 1.7rem;
    color:black
}
.articulo2 {
    background-image: url(./img/380323-carpenter-tools-wallpaper-top-free-carpenter-tools-background.jpg);
    margin: 0px;
    
}
.tituloClientes{
    text-align: center;
     
    background-color: #fbfbfb;
    border-radius: 20px;
    padding-left: 1vh;
    margin-left: 30vh;
    margin-right: 30vh;
    box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.7);
        -webkit-box-shadow: 9px 10px 5px 1px rgba(0,0,0,0.7);
        -moz-box-shadow: 9px 10px 5px 1px rgba(0,0,0,0.7);

}

.clientesbox{
    display: flex;
    justify-content: space-between;
}
.clientes{
    text-align: center;
      
    background-color: #fbfbfb;
    border-radius: 20px;
    padding:2vh
    box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.7);
        -webkit-box-shadow: 9px 10px 5px 1px rgba(0,0,0,0.7);
        -moz-box-shadow: 9px 10px 5px 1px rgba(0,0,0,0.7);

}

.instagramLogo{
   
    height: 5vh;
   margin-left: 5%;
}
.facebookLogo{
    
    height: 5vh;
    margin-left: 5%;
   
}
.whatsappLogo {
    
    height: 5vh;
    margin-left: 5%;
   
}
.socialMedia{
    display: flex;
    flex-direction: row;
   width: 20%;
    margin-left: 40%;
    margin-right: 40%;
   align-items: center;
  
}
footer{ margin: 0px;
    background: rgb(4,41,135);
    background: linear-gradient(99deg, rgba(4,41,135,1) 0%, rgba(0,212,255,1) 0%, rgba(16,47,136,1) 100%);
}
.derechos{
    text-align: center;
}
.icondata{
    width: 90%;
    height: 5vh;
    margin-left: 2vh;
    margin-bottom: 2vh;
    margin-right: 5vh;
}
.boxDatos{
    display: flex;
    flex-direction: column;   
    width: 10%;
    align-items: flex-start;
   
}
.datos{
    display: flex;
    
    width: 70%;
    padding-left: 2vh;
}
.seguinos{
    margin-right: 2vh;
    margin-left: 4vh;
}



@media  screen and (max-width: 430px) {

    nav{ 
       
      
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

        
        
    }

    #menuToggle{
        display: block;
        position: relative;
        top: 10px;                                      /* probar otros valores*/
        left: 15px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
    #menuToggle a {
        
            text-decoration: none;
            color: #000000;
            transition: color 0.3s ease;
            
          

    }
    #menuToggle a:hover
{
  color: tomato;
}
    #menuToggle input {
        display: block;
        width: 40px;
        height: 5vh;
        position: absolute;
        top: -7px;
        left:-5px;

        cursor:pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;

    }

    #menuToggle span {  
        display: block;
        width: 40px;
        height: 5px ;
        margin-top: 0.7vh;     /* Ver si lo puedo hacer con una  IMG */
        position: relative;
        
        background: #cdcdcd;
        border-radius: 3px;
        
        z-index: 1;

        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
      transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }
    #menuToggle input:checked ~ span
    {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #df1111;
    }

    #menuToggle input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2)
    {
      transform: rotate(-45deg) translate(0, -1px);
    }

    #menu
        {
          position: absolute;
          width:15vh;
          margin: -100px 0 0 -50px;
          padding: 50px;
          padding-top: 125px;
         border-radius: 15px;
          /* background-color: rgb(255, 255, 255) ; */
          background-image: url(https://www.teahub.io/photos/full/86-869886_hd-wood.jpg); 
          
          list-style-type: none;
          -webkit-font-smoothing: antialiased; 
          transform-origin: 0% 0%;
          transform: translate(-100%, 0);
                 
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
    #menu li
    {
         padding: 10px 0;
         font-size: 1rem;
         
    }
    #menuToggle input:checked ~ ul
    {
        transform: none;
    }
    
    .logo {
        width:3.5rem;
        margin-top: 0.5vh;
        margin-right: 0.5vh;
    }

    .ul1 {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        width: 100%;
        
        

        
    }

   

    li{
        display: flex;
        padding-left: 0.2rem;
        font-size: 0.8rem;
        font-weight: 600;
        flex-wrap: wrap;
        font-family: 'fuentepiola' , cursive;
        margin-bottom: 2rem;
        height: 1rem;
      
    }

    .tituloylogo {
        background-image: url(https://cdn.pixabay.com/photo/2015/10/20/18/57/furniture-998265__480.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        flex-direction: column;
        border-bottom: 5px solid blue;
        margin: 0px;
        
        
}
    

    .logo2 {
        width: 0%;
        height: 0%;
    }
    .titulo{
        display: flex;
        font-size:1rem;
        width: 65%;
 }

    p { 
        font-size: 1.2rem;
        
    }

    .buttons {
        display: flex;
        flex-direction: column;
       
        }
    .button1 {
        width: 100%;
        border-radius: 40px;
        background-color: black ;
        border: 3px solid rgb(0, 0, 0);
        color: white;
        font-size: 1rem;
        font-family: fuentepiola;
        font-weight: 600;
        margin-bottom: 5%;
    }
    .button2 {
        width: 100%;
        border-radius: 40px;
        font-size: 1rem; 
        font-family: fuentepiola;
        font-weight: 600;
        border: 3px solid black;
        background-color: white;
    }


    h2 {
        font-size: 2rem;
    }

    .textoArticulo {
    
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .textoArticulo1 {
        padding-bottom: 2vh;
    }
    .imagenesArticulo{
        display: flex;
        width: 80%;
        margin-top: 5vh;
    }
    .textoArticulo4{
        padding-bottom: 2vh;
    }

    .clientesbox {
     display: flex;
     flex-direction: column;
    
     
    }
    .socialMedia{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin: 0px
    }

}

@media (min-width: 431px) and (max-width: 999px) {
    nav{ 
       
       
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: 6vh;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

        
        
    }

    #menuToggle{
        display: block;
        position: relative;
        top: 10px;                                      /* probar otros valores*/
        left: 15px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
    #menuToggle a {
        
            text-decoration: none;
            color: #d8d8d8;
            transition: color 0.3s ease;
            
          

    }
    #menuToggle a:hover
{
  color: tomato;
}
    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left:-5px;

        cursor:pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;

    }

    #menuToggle span {  
        display: block;
        width: 40px;
        height: 5px ;
        margin-bottom: 5px;      /* Ver si lo puedo hacer con una  IMG */
        position: relative;
        
        background: #cdcdcd;
        border-radius: 3px;
        
        z-index: 1;

        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
      transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }
    #menuToggle input:checked ~ span
    {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #df1111;
    }

    #menuToggle input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2)
    {
      transform: rotate(-45deg) translate(0, -1px);
    }

    #menu
        {
          position: absolute;
          width:15vh;
          margin: -100px 0 0 -50px;
          padding: 50px;
          padding-top: 125px;
         border-radius: 15px;
          /* background-color: rgb(255, 255, 255) ; */
          background-image: url(https://www.teahub.io/photos/full/86-869886_hd-wood.jpg); 
          
          list-style-type: none;
          -webkit-font-smoothing: antialiased; 
          transform-origin: 0% 0%;
          transform: translate(-100%, 0);
                 
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
    #menu li
    {
         padding: 10px 0;
         font-size: 1rem;
         
    }
    #menuToggle input:checked ~ ul
    {
        transform: none;
    }
    
    .logo {
        width:2.8rem;
        margin-top: 0.5vh;
    }

    .ul1 {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        width: 10%;
        flex-wrap: wrap;
        

        
    }

    .ul2{
        
        display: flex;
        flex-direction: column;
        list-style-type: none;
        width: 50%;
        align-items: flex-start;
        flex-wrap: wrap;
        
        
       
    }

    li{
        display: flex;
        align-items: center;
        box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.7);
        -webkit-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.7);
        -moz-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.7);
        padding-left: 0.2rem;
        font-size: 0.8rem;
        font-weight: 600;
        flex-wrap: wrap;
        background-image: background-image: url(https://www.teahub.io/photos/full/86-869886_hd-wood.jpg);
        font-family: 'fuentepiola' , cursive;
        margin-bottom: 2rem;
        border-radius: 5px;
        height: 1.5rem;
      
    }

    .tituloylogo {
        background-image: url(https://cdn.pixabay.com/photo/2015/10/20/18/57/furniture-998265__480.jpg);
        display: flex;
        width: 100%;
        
        flex-direction: column;
        border-bottom: 5px solid blue;
       
        margin: 0px;
        
}
    
    .titulo{
        display: flex;
        font-size:1rem;
        width: 50%;
 }

    p { 
        font-size: 1rem;
        color: black;
        font-weight: 600;
    }

    .logo2 {
        
        width: 0vh;
        height: 0vh;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        font-size: 1rem;
    }
    .button1 {
        width: 100%;
        border-radius: 40px;
        font-size: 1rem;
        font-family: fuentepiola;
        font-weight: 600;
        margin-bottom: 5%;
    }
    .button2 {
        width: 100%;
        border-radius: 40px;
        font-size: 1rem; 
        font-family: fuentepiola;
        font-weight: 600;
       
    }

.seccion2{
    background: rgb(2,0,36);
    background: linear-gradient(99deg, rgba(2,0,36,1) 0%, rgba(209,209,209,1) 1%, rgba(0,212,255,1) 100%);
    
}
    h2 {
        font-size: 2rem;
        
    }

    .textoArticulo {
    
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .imagenesArticulo{
        display: flex;
        width: 80%;
        margin-top: 5vh;
    }
    .textoArticulo1 {
        padding-bottom: 2vh;
    }
    .textoArticulo4{
        padding-bottom: 2vh;
    }
    .clientesbox {
        display: flex;
        flex-direction: column;
        
       }
       .socialMedia{
           display: flex;
           justify-content: flex-start;
           width: 100%;
           margin: 0px
       }


}

@media (min-width: 1000px) and (max-width: 1280px) {
    nav{ 
       
       
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: 6vh;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

        
        
    }

    #menuToggle{
        display: block;
        position: relative;
        top: 10px;                                      /* probar otros valores*/
        left: 15px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
    #menuToggle a {
        
            text-decoration: none;
            color: #d8d8d8;
            transition: color 0.3s ease;
            
          

    }
    #menuToggle a:hover
{
  color: tomato;
}
    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left:-5px;

        cursor:pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;

    }

    #menuToggle span {  
        display: block;
        width: 40px;
        height: 5px ;
        margin-bottom: 5px;      /* Ver si lo puedo hacer con una  IMG */
        position: relative;
        
        background: #cdcdcd;
        border-radius: 3px;
        
        z-index: 1;

        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
      transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }
    #menuToggle input:checked ~ span
    {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #df1111;
    }

    #menuToggle input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2)
    {
      transform: rotate(-45deg) translate(0, -1px);
    }

    #menu
        {
          position: absolute;
          width:15vh;
          margin: -100px 0 0 -50px;
          padding: 50px;
          padding-top: 125px;
         border-radius: 15px;
          /* background-color: rgb(255, 255, 255) ; */
          background-image: url(https://www.teahub.io/photos/full/86-869886_hd-wood.jpg); 
          
          list-style-type: none;
          -webkit-font-smoothing: antialiased; 
          transform-origin: 0% 0%;
          transform: translate(-100%, 0);
                 
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
    #menu li
    {
         padding: 10px 0;
         font-size: 1rem;
         
    }
    #menuToggle input:checked ~ ul
    {
        transform: none;
    }
    
    .logo {
        width:2.8rem;
        margin-top: 0.5vh;
    }



    .ul1 {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        width: 10%;
        flex-wrap: wrap;
        

        
    }

    .ul2{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        width: 100%;
        align-items: flex-start;
        flex-wrap: wrap;
        
        
       
    }

    li{
        display: flex;
        align-items: center;
        box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.7);
        -webkit-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.7);
        -moz-box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.7);
        padding-left: 0.2rem;
        font-size: 0.8rem;
        font-weight: 600;
        flex-wrap: wrap;
        background-image: background-image: url(https://www.teahub.io/photos/full/86-869886_hd-wood.jpg);
        font-family: 'fuentepiola' , cursive;
        margin-bottom: 2rem;
        border-radius: 5px;
        height: 1.5rem;
      
    }

    .tituloylogo {
        background-image: url(https://cdn.pixabay.com/photo/2015/10/20/18/57/furniture-998265__480.jpg);
        display: flex;
        width: 100%;
        padding-top: 5%;
        flex-direction: column;
        align-items: flex-start;
        border-bottom: 5px solid blue;
        margin-bottom: 0px;
        
        
}
    
    .titulo{
        display: flex;
        font-size:1rem;
        width: 50%;
        height: 100%;
        
 }

    p { 
        font-size: 1rem;
        color: black;
        font-weight: 600;
    }

    .logo2 {
        
        width: 0vh;
    }

 
    .buttons {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: space-between;
        font-size: 1rem;
    }
    .button1 {
        width: 100%;
        border-radius: 40px;
        background-color: black ;
        border: 3px solid rgb(0, 0, 0);
        color: white;
        font-size: 1rem;
        font-family: fuentepiola;
        font-weight: 600;
        margin-bottom: 5%;
    }
    .button2 {
        width: 100%;
        height: 100%;
        border-radius: 40px;
        font-size: 1rem; 
        font-family: fuentepiola;
        font-weight: 600;
        border: 3px solid black;
        background-color: white;
    }

.seccion2{
    background: rgb(2,0,36);
    background: linear-gradient(99deg, rgba(2,0,36,1) 0%, rgba(209,209,209,1) 1%, rgba(0,212,255,1) 100%);
    
}
    h2 {
        font-size: 2rem;
    }

    .textoArticulo {
    
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .imagenesArticulo{
        display: flex;
        width: 80%;
        margin-top: 5vh;
    }
    .textoArticulo1 {
        padding-bottom: 2vh;
    }
    .textoArticulo4{
        padding-bottom: 2vh;
    }
    .clientesbox {
        display: flex;
        flex-direction: column;
        
       }
       .socialMedia{
           display: flex;
           justify-content: flex-start;
           width: 100%;
           margin: 0px
       }

}
    