@font-face {
    font-family: fuentepiola;
    src: url(./Fuente/Fredoka-VariableFont_wdth\,wght.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

body {
    font-family: fuentepiola;
}

header {
    margin: 0px;
    font-family: fuentepiola;
    background-repeat: no-repeat;
    background-size: 100%;
    background: rgb(2,0,36);
background: linear-gradient(99deg, rgba(2,0,36,1) 0%, rgba(117,117,198,1) 1%, rgba(0,212,255,1) 100%);
}

nav{ 
    background-image: url(https://www.teahub.io/photos/full/86-869886_hd-wood.jpg);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1%;
    border-bottom-left-radius:100px;
    border-bottom-right-radius: 100px;
    height: 5%;
    
}

.logo {
    height: 400%;
    
}

.ul1 {
    display: flex;
    list-style-type: none;
    width: 15%;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.ul2{
    display: flex;
    list-style-type: none;
    width: 20%;
    justify-content: space-between;
    flex-wrap: wrap;
    
   
}
li{
    border-left: 4px solid blue;
    padding-left: 10px;
    font-size: 1rem;
    font-weight: 600;
    flex-wrap: wrap;
    font-family: 'fuentepiola' , cursive;
    
    

}
a:link{
    text-decoration: none;
}
a {
    color:white
}
ul a {
    font-family: Arial, Helvetica, sans-serif;
    
    
}

.titulo{
    display: flex;
    height: 22%;
    width: 25%;
    flex-direction: column;
    margin-top: 13%;
    margin-left: 7%;
    font-size:1.5rem;
    
   
    
}

h1 {
    color: rgb(20, 78, 255);
    border-left: 5px solid blue;
    padding-left: 3%;
    
}
.tituloylogo {
    display: flex;
    width: 100%;
    height: 85%;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 5px solid blue;
    flex-wrap: wrap;
    
}

.logo2 {
    margin-top: 7%;
    display:flex ;
    width: 50%;
    height: 50%;
    border-radius: 15px;
    flex-wrap: wrap;
}
.parrafo2 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    width: 70%;
    color:black; 
    flex-wrap: wrap;
      
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    margin-top: 5%;
    font-size: 100%;
}
.button1 {
    width: 40%;
    height: 200%;
    border-radius: 40px;
    background-color: black ;
    color: white;
    font-size: 1rem;
    font-family: fuentepiola;
    font-weight: 600;
}
.button2 {
    width: 40%;
    height: 200%;
    border-radius: 40px;
    font-size: 1rem; 
    font-family: fuentepiola;
    font-weight: 600;
    border: 5px solid black;
    background-color: white;
}
 h2 {
    font-size: 3rem;
    color : black ;
} 
.seccion2 {
    margin-right:  50% ;
    height: 100%;
    width: 100%;
}



@media  screen and (max-width: 360px) {

    nav{ 
        background-image: url(https://www.teahub.io/photos/full/86-869886_hd-wood.jpg);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 55%;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

        
        
    }
    
    .logo {
        display: flex ;
        width: 50%;
        height: 50%;
        align-self: flex-start;
        order: -1;
        
    
    }

    .ul1 {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        width: 10%;
        flex-wrap: wrap;
        

        
    }

    .ul2{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        width: 100%;
        align-items: flex-start;
        flex-wrap: wrap;
        
        
       
    }

    li{
        display: flex;
        align-items: center;
        border-top:  2px solid rgb(117, 253, 6);
        border-left:  2px solid rgb(117, 253, 6);
        padding-left: 0.2rem;
        font-size: 0.8rem;
        font-weight: 600;
        flex-wrap: wrap;
        background-image: background-image: url(https://www.teahub.io/photos/full/86-869886_hd-wood.jpg);
        font-family: 'fuentepiola' , cursive;
        margin-bottom: 2rem;
        border-radius: 10px;
        width: 7rem;
        height: 1.5rem;
    }

    .tituloylogo {
        background-image: url(https://cdn.pixabay.com/photo/2015/10/20/18/57/furniture-998265__480.jpg);
        display: flex;
        width: 100%;
        flex-direction: column;
        border-bottom: 5px solid blue;
        flex-wrap: wrap;
        margin: 0px;
        
}
    
    .titulo{
        display: flex;
        font-size:1rem;
        width: 50%;
 }

    p { 
        font-size: 1rem;
        color: black;
        font-weight: 600;
    }

    .logo2 {
        display: flex;
        margin-left: 15%;
        margin-top: 70%;
        max-height: 20vh;
        width: 0vh;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        margin-top: 50%;
        font-size: 1rem;
    }
    .button1 {
        width: 100%;
        height: 200%;
        border-radius: 40px;
        background-color: black ;
        border: 3px solid rgb(0, 0, 0);
        color: white;
        font-size: 1rem;
        font-family: fuentepiola;
        font-weight: 600;
        margin-bottom: 5%;
    }
    .button2 {
        width: 100%;
        height: 100%;
        border-radius: 40px;
        font-size: 1rem; 
        font-family: fuentepiola;
        font-weight: 600;
        border: 3px solid black;
        background-color: white;
    }

.seccion2{
    background: rgb(2,0,36);
    background: linear-gradient(99deg, rgba(2,0,36,1) 0%, rgba(209,209,209,1) 1%, rgba(0,212,255,1) 100%);
    
}
    h2 {
        font-size: 2rem;
    }



    
}